{% extends 'base.html' %} {% block title %}Thomas virtuel værktøjskasse | Opret kunde{% endblock %} {% block content %}
    <div class="col-6 col-md-4 offset-md-3"><h1>Opret kunde</h1>
        <form action="{% url 'customer_list' %}" method="POST">
            {% csrf_token %}
            <div class="mb-3"><input type="text" class="form-control" id="name" name="name"
                                     placeholder="Indtast navn"></div>
            <div class="mb-3"><input type="text" class="form-control" id="address" name="address"
                                     placeholder="Indtast adresse"></div>
            <div class="mb-3"><input type="text" class="form-control" id="zipCode" name="zipCode"
                                     placeholder="Indtast postnummer"></div>
            <div class="mb-3"><input type="text" class="form-control" id="city" name="city"
                                     placeholder="Indtast by"></div>
            <div class="mb-3"><input type="text" class="form-control" id="state" name="state"
                                     placeholder="Indtast stat" value="DK"></div>
            <div class="mb-3"><input type="text" class="form-control" id="country" name="country"
                                     placeholder="Indtast land" value="Danmark"></div>
            <div class="mb-3"><input type="text" class="form-control" id="telephone" name="telephone"
                                     placeholder="Indtast telefon nummer"></div>
            <div class="mb-3"><input type="email" class="form-control" id="email" name="email"
                                     placeholder="Indtast email"></div>
            <div class="mb-3"><label for="notes" class="form-label">Noter</label> <textarea
                    class="form-control" id="notes" rows="3" name="notes"></textarea></div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div> {% endblock %}