{% extends 'base.html' %}

{% block title %}Kundeliste{% endblock %}

{% block content %}

    <h1>Kundeliste</h1>

    <br/>
    {% if messages %}

        {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}

    {% if all_items %}
        <table class="table">
            <tr class="table-dark">
                <td>Navn</td>
                <td>
                    <center>Adresse</center>
                </td>

                <td>
                    <center>Kontakt info</center>
                </td>
                <td>
                    <center>Nøgle brikker og pinkoder</center>
                </td>
                <td>
                    <center>Lejede rum og reseverationer</center>
                </td>

                <td>
                    <center>Slet</center>
                </td>
            </tr>
            {% for customer in all_items %}
                <tr>
                    <td>{{ customer.name }} <a href="{% url 'edit_customer' customer.id %}"
                                               class="badge rounded-pill bg-dark">Rediger</a>
                        <a href="#"  data-bs-toggle="popover" data-html="true" class="badge rounded-pill bg-success"
                                title="Noter på {{ customer.name }}" data-bs-trigger="focus"
                                data-bs-content="{{ customer.notes }}">Noter
                        </a>
                    </td>
                    <td>
                        {{ customer.address }}<br/>{{ customer.zipCode }} {{ customer.city }}<br/>{{ customer.state }}, {{ customer.country }}
                    </td>

                    <td>
                        <center>{{ customer.telephone }}<br><a href="mailto:{{ customer.email }}" type="button"
                                   class="btn btn-info">{{ customer.email }}</a></center>
                    </td>
                    <td>
                        <center>Brik </center>
                    </td>
                                    <td>
                    <center>Lejede rum og Reseverationer</center>
                </td>
                    <td>
                        <center><a href="{% url 'delete_customer' customer.id %}" class="btn btn-danger btn-sm " tabindex="-1" role="button" aria-disabled="true">Slet</a></center>
                    </td>
                </tr>

            {% endfor %}
        </table>
    {% endif %}
{% endblock %}
