{% extends 'base.html' %} {% block title %}Tsddd | Rediger lokation: {{ form.name }} {% endblock %} {% block content %}
    <div class="col-6 col-md-4 offset-md-3"><h1>Rediger lokation</h1>
        <form action="{% url 'edit_storageCenter' form.id %}" method="POST">
            {% csrf_token %}
            <div class="mb-3"><label for="name" class="form-label">Navn</label>
                <input type="text" class="form-control" id="name" name="name"
                                     placeholder="Indtast navn" value="{{ form.name }}"></div>
            <div class="mb-3"><label for="address" class="form-label">Adresse</label>
                <input type="text" class="form-control" id="address" name="address"
                                     placeholder="Indtast adresse" value="{{ form.address }}"></div>
            <div class="mb-3"><label for="zipCode" class="form-label">Post nummer</label>
                <input type="text" class="form-control" id="zipCode" name="zipCode"
                                     placeholder="Indtast postnummer" value="{{ form.zipCode }}"></div>
            <div class="mb-3"><label for="city" class="form-label">By</label>
                <input type="text" class="form-control" id="city" name="city"
                                     placeholder="Indtast by" value="{{ form.city }}"></div>
            <!-- Submit button -->
            <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
    </div> {% endblock %}